.createPostMain {
  width: 117vh;
  height: 88vh;
  background: #727171;
  border-radius: 3vh;
  margin-left: 40vh;
  margin-top: 5vh;
}

.formInputs {
  width: fit-content;
  margin-top: 7vh;
}

.createPostMain h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 40px;
  text-align: center;

  color: #ffffff;
  padding-top: 3vh;
}

.createFormMain h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 3vh;

  color: #ffffff;
  width: fit-content;
  margin-left: 10vh;
}

.createFormMain input {
  all: unset;
  width: 252px;
  height: 48px;
  background: #4c4848;
  border-radius: 10px;
  color: #ffffff;
  padding: 0px 0px 0px 3vh;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2.4vh;
  margin-left: 10vh;
  margin-bottom: 5vh;
}

.createFormMain input:disabled {
  background: #4c484834;
  cursor: not-allowed;
}

.createFormMain .geoBtn {
  all: unset;
  background-color: transparent;
  height: 5vh;
  width: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vh;
  border: 1px solid white;
  color: white;
  margin: 0vh 0vh 4vh 10vh;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 3vh;
  line-height: 36px;
}

.createFormMain h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 3vh;
  line-height: 36px;

  color: #ffffff;
  margin: 5vh 0vh 0vh 13vh;
}

.createFormMain textarea {
  all: unset;
  /* width: 422px;
  height: 152px; */
  background: #4c4848;
  border-radius: 10px;
  color: #ffffff;
  padding: 15px 0px 0px 3vh;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2.4vh;
  /* line-height: 36px; */
  margin-left: 10vh;
  margin-bottom: 5vh;
}

.createFormMain form {
  height: 60vh;
}

.createFormMain form button {
  width: 30vh;
  height: 10vh;
  background: #727171;
  border: 1px solid #ffffff;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 3vh;
  line-height: 36px;

  color: #ffffff;

  position: absolute;
  top: 70vh;
  left: 110vh;
}

.createFormMain form button:hover {
  background-color: #8d6b99;
}

.imgPicker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 30vh;
  cursor: pointer;
  width: fit-content;
  position: absolute;
  top: 30vh;
  left: 64vh;
}

.imgPicker p {
  content: "Pick an image";
  text-align: center;
  margin-top: 13vh;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2vh;
}

.imgPreview {
  height: 15rem;
  width: 60vh;
  background: #4c4848;
  border-radius: 10px;
}

.imgPreview img {
  border-radius: 10px;
  height: 15rem;
  width: 60vh;
}

.imgPicker input {
  position: absolute;
  left: -10vh;
  top: 0vh;
  width: 57vh;
  height: 15rem;
  opacity: 0;
  background: white;
}
