@import url("https://fonts.googleapis.com/css2?family=Imprima&family=Inter&family=Raleway&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background: #4c4848;
}

::-webkit-scrollbar {
  width: 0%;
}
